@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: darkred;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: yellow;
}

a::before {
    content: ' ⭢';
}

a::after {
    content: ' ⭠';
    text-decoration: none;
    font-weight: normal;
    color: darkgrey;
}