@charset "UTF-8";

/*Em HTML é id, em CSS é #
  Em HTML é class, em CSS é . 
  */

body {
    background-color: rgb(182, 230, 181);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(51, 128, 108);
}

h1#principal {
    color: black;
    text-align: center;
    background-color: rgb(23, 131, 108);
    border-radius: 7px;
}

hr {
    color: rgb(0, 0, 0);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}